:host {
    display: block;
}

main {
    height: 100vh;
    overflow-y: auto;
    scroll-snap-type: y proximity;
}

.section {
    min-height: 100vh;
    scroll-snap-align: center;
    scroll-snap-stop: always;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 60px 20px 40px;
}
